//--------------------------------------------------------------
// Global and Shared Navigation Styles.
//--------------------------------------------------------------
// Default menu (active after a fresh WordPress install).
.menu {
    @include list-reset;
    ul {
        @include list-reset; // Dropdowns.
        &.sub-menu {
            @include padding(rem(10));
            background: $color-red;
            li {
                @include margin(0);
                border-bottom: 1px solid $button-border;
                &:last-child {
                    border-bottom: none;
                }
                &:hover,
                &:active {
                    background-color: $button-hover;
                }
                a {
                    color: white;
                }
            } // li
        } // &.sub-menu
    } // ul
    // For list items with menu items.
    .menu-item-has-children {
        .menu-item-has-children {
            // Rotate to the right to point toward the direction of the dropdown.
            .caret-down {
                transform: rotate(-90deg) translateX(rem(2));
            } // .caret-down
        } // .menu-item-has-children
    } // .menu-item-has-children
    // Menu hyperlinks
    a {
        display: block;
        text-decoration: none;
        color: $color-black;
    } // a
    // Current items
    .current_page_item a,
    .current-menu-item a {
        color: $color-black;
    } // .current_page_item a, .current-menu-item a
} // .menu
//-----------------------------------------
// Caret down.
//-----------------------------------------
.caret-down {
    @include size(rem(10) rem(20));
    background: url('assets/images/svg-icons/caret-down.svg') no-repeat transparent;
    background-size: 100%;
    display: inline-block;
    margin-left: rem(5);
	vertical-align: middle;
	padding: 4px;
} // .angle-down
#site-navigation,
#mega-menu-wrap-primary {
    float: right;
}
