//--------------------------------------------------------------
// Mobile Navigation.
//
// 1. Mobile Navigation Styles.
// 2. Parent Indicator.
// 3. Menu Item Has Children.
// 4. Hamburger Button.
// 5. Off Canvas Drawer.
//
//--------------------------------------------------------------
//-----------------------------------------
// 1. Mobile Navigation Styles.
//-----------------------------------------
.mobile-menu {
	@include list-reset;
	padding-top: 40px;
    ul {
        @include list-reset;
    } // ul
    li {
        list-style: none;
        padding: rem(12);
		position: relative;
		border-bottom: 1px solid $button-border;
		&:last-child{
			border-bottom: none;
		}
		&:hover, &:active {
			background-color: #bc0017;
		}
		a{
			display: block;
			width: 100%
		}
    } // li
    a {
        color: $color-white;
        font-size: rem(14);
        text-decoration: none;
        &:focus {
            outline: rem(2) solid $color-white;
        } // &:focus
    } // a
    // Submenu dropdowns.
    .sub-menu {
        display: none; // If submenu is open.
        &.is-visible {
            display: block;
            opacity: 1;
            visibility: visible;
        } // &.is-visible
    } // .sub-menu
} // .mobile-menu
//-----------------------------------------
// 2. Create a down arrow on parent items.
//-----------------------------------------
.parent-indicator {
    @include position(absolute, rem(5) rem(10) null null);
    @include size(rem(35));
    background-color: transparent;
    display: inline-block;
    padding: rem(5);
	z-index: 9999;
    &:focus {
        outline: 2px solid $color-white;
    } // &:focus
} // .parent-indicator
//-----------------------------------------
// 3. Menu Item Has Children.
//-----------------------------------------
.mobile-menu {
    // Parent menu items.
    .menu-item-has-children {
        transition: max-height 0.5s; // Force menu link to accomodate down button.
        a {
            display: inline-block;
            max-width: calc(100% - 40px);
        } // a
        &.is-visible {
            max-height: rem(500); // When visible, flip the down arrow.
            .down-arrow {
                transform: rotateX(180deg);
            } // .down-arrow
        } // .is-visible
        .menu-item-has-children {
            &:last-of-type {
                .menu-item-has-children.is-visible {
                    margin-bottom: 0;
                }
            } // &:last-of-type
            .down-arrow {
                transform: rotateX(0);
            } // .down-arrow
            &.is-visible {
                &:last-of-type {
                    margin-bottom: 0;
                } // &:last-of-type
                // When visible, flip the down arrow.
                .down-arrow {
                    transform: rotateX(180deg);
                } // .down-arrow
            } // &.is-visible
            .menu-item-has-children {
                .down-arrow {
                    transform: rotateX(0);
                } // .down-arrow
                &.is-visible {
                    // When visible, flip the down arrow.
                    .down-arrow {
                        transform: rotateX(180deg);
                    } // .down-arrow
                } // &.is-visible
            } // .menu-item-has-children
        } // .menu-item-has-children
    } // .menu-item-has-children
} // .mobile-menu
//-----------------------------------------
// 4. Hamburger Button.
//-----------------------------------------
.hamburger {
    background-color: transparent;
    outline: none;
    &,
    &::before,
    &::after {
        @include size(rem(35) rem(5));
        background: $hamburger-color;
        border-radius: $border-radius-thin;
        content: '';
        cursor: pointer;
        display: block;
        position: absolute;
        transition: $transition-hamburger;
    }
    &::before {
        transform: translateY(rem(-10));
    }
    &::after {
        transform: translateY(rem(10));
    }
    .is-visible & {
        background-color: transparent;
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    } // .is-visible
} // .hamburger
//-----------------------------------------
// 5. Off Canvas Drawer.
//-----------------------------------------
.off-canvas {
	
	 // The container.
    &-container {
        @include position(fixed, 0 auto 0 0);
        @include size(100%);
        -webkit-overflow-scrolling: touch;
        background-color: $color-red;
        overflow-y: auto;
        transform: translateX(-100%);
        transition: $transition-transform;
		z-index: 99999;
		border-radius: 0;
        &.is-visible {
            transform: translateX(0);
        } // Deal with the admin bar.
        .admin-bar & {
            padding-top: rem(46);
            @include media($wp-admin-bar) {
                padding-top: rem(32);
            }
        } // .admin-bar &
    } // .off-canvas-container
    // The hamburger nav.
    &-open {
        @include position(absolute, null rem(24) null null);
        @include size(rem(30));
        background-color: transparent;
        display: block;
		padding: 0;
		border-radius: 0;
		box-shadow: none;
        @include media($tablet-landscape) {
            display: none;
        } // Deal with the admin bar.
        &:focus,
        &:hover {
            background-color: transparent;
        } // &:focus, &:hover
    } // .off-canvas-button
    // The close "X" button.
    &-close {
        @include position(absolute, rem(5) rem(10) null null);
        background-color: transparent;
        display: none;
        padding: rem(12) rem(5);
		z-index: 9999;
		border-radius: 0;
		box-shadow: none;
        &:focus,
        &:hover {
            background: transparent;
        } // &:focus, &:hover
        .is-visible & {
            display: inline-block;
        } // .is-visible &
    } // .off-canvas-close
    // The background screen.
    &-screen {
        @include position(fixed, 0);
        background: $color-black;
        opacity: 0;
        transition: $transition-opacity;
        visibility: hidden;
        z-index: 9996;
        &.is-visible {
            opacity: 0.4;
            visibility: visible;
        }
    } // .off-canvas-screen
    // Content container.
    &-content {
        display: none;
        .is-visible & {
            display: block;
        }
    } // .off-canvas-content
} // .off-canvas
