//--------------------------------------------------------------
// Buttons
//--------------------------------------------------------------
button,
input[type='button'],
input[type='reset'],
input[type='submit'],
.button,
.woocommerce a.button,
.woocommerce button.button.alt ,
.woocommerce input[name="apply_coupon"],
.woocommerce button[name="update_cart"],
.woocommerce a.checkout-button{
    margin-bottom: 1em;
    appearance: none;
    background-color: $color-red;
    border: none;
    border-radius: 100px;
    border-width: 0;
    color: $color-white;
    text-decoration: none;
    line-height: 1.5;
    margin: 0;
    padding: 14px 50px; // IE 11 helper.
    font-weight: bold;
	font-size: 13px;
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
     0 1px 10px 0 rgba(0, 0, 0, 0.12), 
     0 4px 5px 0 rgba(0, 0, 0, 0.14);
    
    .ie & {
        height: rem(35);
    } // .ie &

    &:hover,
    &:active {
        background-color: $button-hover;
        box-shadow: none;
        color: $color-white;
    } // &:hover

    &.alternative {
        border: 1px solid $color-red;
        background: $color-white;
        box-shadow: none;
        color: $color-red;
        transition: all .35s ease;

        &:hover {
            background: $color-red;
            color: $color-white;
        }
	}
} // button, input[type="button"], input[type="reset"], input[type="submit"]

button.center {
    margin: 0 auto;
    display: block;
} // button

.parent-indicator {
    box-shadow: none;
    border-radius: 0;
}

.wc-proceed-to-checkout .wc-forward {
	background-color: $color-red !important;
	padding: 5px!important;
}

.woocommerce {
    input.plus.button.is-form,input.minus.button.is-form {
        padding-left: 7px;
		padding-right: 7px;
		outline: none;
    }

    div.product form.cart .plus,
    div.product form.cart .minus {
        float: none;
        border-radius: 0;
        outline: none;
        float: none;
    }

    .quantity {
        .qty {
            padding-left: 0;
            padding-right: 0;
            display: inline-block;
            vertical-align: top;
			margin: 0;
			width: 1.7em;
        }

        .is-form {
            overflow: hidden;
            position: relative;
            background-color: #f9f9f9;
            text-shadow: 1px 1px 1px #fff;
            color: #666;
            border: 1px 1px 1px 1px solid #ddd;
            text-transform: none;
            font-weight: normal;
		}
    } //minus and plus buttons
    
	 button[name="calc_shipping"] {
		background-color: $color-red;
		color: $color-white;
		padding: 10px 20px;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 4px 5px 0 rgba(0, 0, 0, 0.14);
        
        &:hover{
			background-color: $button-hover;
			color: $color-white;
			box-shadow: none;
		}
	}
}

#content table.cart td.actions,
.woocommerce-page table.cart td.actions {
    text-align: left !important;
    
	a {
		padding-right: 15px;
		color: $color-red;
        font-size: 14px;
        
		&:hover{
			color: $button-hover;
		}
	}
} //cart buttons

.woocommerce button.button:disabled[disabled] {
    color: $color-red;
    
	&:hover{
		color: $color-red;
	}
}

.woocommerce-page #content table.cart td.actions .button {
	margin: 20px auto;
}
