//--------------------------------------------------------------
// Card
//--------------------------------------------------------------
.card {
	margin-bottom: $gutter * 2;
	text-align: center;

	@include media($tablet-portrait) {
		text-align: left;
	}
	@include media($tablet-landscape) {
		text-align: center;
	}

	// Card images.
	img {
		width: 100%;
	} // img
} // .card
