
//--------------------------------------------------------------
// Posts and Pages
//--------------------------------------------------------------

// Entry Title
.entry-title {
	font-size: rem(36);
} // .entry-title

// Sticy and Comments Link
.sticky,
.comments-link {
	display: block;
} // .sticky, .comments-link

// hentry
.hentry {
	margin: 0 0 rem(24) 0;
} // .hentry

// Byline and update post date
.byline,
.updated:not(.published) {
	display: none;
} // .byline, .updated:not(.published)

// Byline for single and group
.single .byline,
.group-blog .byline {
	display: inline;
} // .single .byline, .group-blog .byline

// Page content, entry content and entry summary
.page-content,
.entry-content,
.entry-summary {
	margin: rem(24) 0 0;
} // .page-content, .entry-content, .entry-summary

// Page links
.page-links {
	clear: both;
	margin: 0 0 rem(24) 0;
} // .page-links

// Tags links
.tags-links {
	margin-left: rem(24);
} // .tags-links

// Edit link
.edit-link {
	margin: 0 0 0 rem(5);

	a {
		display: inline-block;
		font-size: rem(12);
		text-transform: lowercase;

		&::before {
			content: '(';
		}

		&::after {
			content: ')';
		}
	} // a
} // .edit-link

// Asides
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
} // .blog .format-aside .entry-title, .archive .format-aside .entry-title

// Content blocks.
.content-block {
	@include clearfix;
} // .content-block

.blog {
    .site-content {
		.blog-loop{
			padding-top: 40px;
		}
        .blog-post {
            @include span-columns(12);
            margin-bottom: 20px;
            transition: all .35s ease-in-out;
			box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .1);
			height: 338px;
            @include media($tablet-portrait) {
                @include span-columns(4);
                @include omega-reset(2n);
                @include omega(3n);
                &:hover {
                    margin-top: -5px;
                }
            }
            .entry-header {
                .entry-title {
                    margin-bottom: 10px;
                    line-height: 1.3;
                    font-size: 18px;
                    margin-top: 0;
                    padding: 0 15px;
                    a {
                        font-size: 18px;
                        color: $link-color;
                        text-decoration: none;
                    }
                }
            }
            .entry-content {
                margin-top: 0;
                padding: 0 15px 20px 15px;
                p {
                    color: $color-gray-alt;
                    font-size: 14px;
                }
            }
        }
    }
}
