//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------
.site-footer {
	background: $footer-color;
	
    .site-info {
        text-align: center;
		padding: 30px 0;
		
        .copyright-text {
			color: $footer-text-color;

			p {
				a {
					color: $footer-text-color;
					text-decoration: none;

					&:hover{
						text-decoration: underline;
						color: $color-red;
					} // a:hover
				} // a
			} // p
        } // .copyright-text
    } // .site-info
} // .site-footer
