//--------------------------------------------------------------
// Header.
//--------------------------------------------------------------
// Site logo.
.site-branding {
	margin-left: 15px;
    @include media($tablet-portrait) {
        display: flex;
        align-items: center;
        margin: auto;
    }
    img {
        height: auto;
        max-width: 100%;
    }
    @include media($tablet-portrait) {
        @include span-columns(11);
    }
    @include media($tablet-landscape) {
        @include span-columns(5);
    } // Don't let the logo get out of control.
    img {
        @include media(min-width $tablet-portrait max-width $tablet-landscape) {
            float: left;
            width: 30%;
        }
    } // img
} // .site-branding
//-----------------------------------------
// Site Title.
//-----------------------------------------
.site-title {
    font-size: rem(48); // Align next to the logo on mid-size screens.
    @include media(min-width $tablet-portrait max-width $tablet-landscape) {
        float: left;
        margin: 0;
        padding: 0 rem(12);
        width: 50%;
    }
} // .site-title
//-----------------------------------------
// Site Description.
//-----------------------------------------
.site-description {
    font-size: rem(24);
    margin: 0 0 rem(24) 0;
    @include media(min-width $tablet-portrait max-width $tablet-landscape) {
        clear: both;
    }
} // .site-description
//-----------------------------------------
// Header action container — Form Dropdown.
//-----------------------------------------
.site-header-action {
    @include span-columns(12);
    @include media($tablet-portrait) {
        @include span-columns(5);
    }
    @include media($tablet-landscape) {
        @include span-columns(4);
        float: right;
        margin-right: 0;
    }
    @include media($desktop) {
        @include span-columns(3);
        float: right;
        margin-right: 0;
    }
    @include media($desktop-large) {
        @include span-columns(2);
        float: right;
        margin-right: 0;
    }
} // .site-header-action
//-----------------------------------------
// Site header action cta buttons.
//-----------------------------------------
.site-header-action {
    // Span the button the full width.
    .button-link,
    .cta-button {
        color: $color-white;
        display: block;
        text-align: center;
        text-decoration: none;
        width: 100%;
    } // .button-link, .cta-button
} // .site-header-action
//-----------------------------------------
// Site header Action Searchform.
//-----------------------------------------
.site-header-action {
    .search-form {
        opacity: 0;
        transition: $transition-opacity;
        visibility: hidden; // If the body class is there, show the form.
        .search-form-visible & {
            display: block;
            opacity: 1;
            transition: $transition-opacity;
            visibility: visible;
        } // .search-form-visible &
    } // .search-form
} // .site-header-action
//-----------------------------------------
// Main Navigation Container.
//-----------------------------------------
.main-navigation {
    @include span-columns(12);
} // .main-navigation
//-----------------------------------------
// site-header custom styles .
//-----------------------------------------
.site-header {
	padding: 9px 0;
    width: 100%;
    background: $color-white;
	box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.14);
	position: sticky;
	@include media($tablet-landscape) {
		padding:0;
		z-index: 9999;
		
	}
    .wrap {
		display: flex;	
    }
    .menu-top-menu-container {
        margin: 9px 0;
        float: right;
    }
}

//cart
.cart-icon {
    right: 4.4rem !important;
    a {
        text-decoration: none;
    }
    .cart-contents:before {
        font-family: WooCommerce;
        content: "\e01d";
        font-size: 28px;
        margin-top: 10px;
        font-style: normal;
        font-weight: 400;
        padding-right: 5px;
        vertical-align: bottom;
        color: black;
    }
    .cart-contents {
        position: absolute;
        right: 1rem;
    }
    .cart-contents:hover {
        text-decoration: none;
    }
    .cart-contents-count {
        color: #fff;
        background-color: $color-red;
        font-weight: bold;
        border-radius: 10px;
        padding: 1px 6px;
        line-height: 1;
        font-family: Arial, Helvetica, sans-serif;
        vertical-align: top;
        position: absolute;
        top: 0rem;
        left: 1.5rem;
    }
    @include media($tablet-landscape) {
        display: none;
    }
}


