//--------------------------------------------------------------
// Call To Action Block
//--------------------------------------------------------------
.call-to-action {

	// Set up structure.
	.grid-x {
		padding: $gutter;
		text-align: center;
		margin-bottom: rem(24);
		

		@include media($tablet-portrait) {
			align-items: center;
		}
	} // .grid-x
} // .call-to-action
