.page-template {
    .site-content {
		.custom-contact-form{
		 .heading{
			.form-heading{
				font-size: 2rem;
				font-weight: 400;
				text-align: center;
			} 
		 }
		}
        .contact-form {
            margin: 0 20px;
            @include media($tablet-portrait) {
                margin: 0 30px;
			}
			@include media($tablet-landscape) {
				margin:auto;
			}
			.description{
				padding: 5px 0;
				p{
					font-size: 14px;
					color: $color-gray-alt;
				}
			}
        }
    }
}

#content .gform_wrapper input[type=email],
#content .gform_wrapper input[type=file],
#content .gform_wrapper input[type=number],
#content .gform_wrapper input[type=password],
#content .gform_wrapper input[type=tel],
#content .gform_wrapper input[type=text],
#content .gform_wrapper input[type=url],
#content .gform_wrapper textarea {
    @include media($tablet-portrait) {
        width: 100%! important;
    }
}

.gform_wrapper {
    textarea,
    input[type=text] {
        border-radius: 7px;
        background-color: #ffffff;
    }
    .gform_footer {
        text-align: center;
    }
}
