.envira-gallery {
    .wrap {
        .heading {
            text-align: left;	
        }
    }

    .envira-caption {
        color: $color-black;
        padding-top: 10px;
        text-transform: uppercase;
        font-weight: bold !important;
    }

    .envira-gallery-wrap .envira-gallery-public, .envira-gallery-wrap {
        margin: 0;
    }
}
