//--------------------------------------------------------------
// Fifty Fifty Blocks
//--------------------------------------------------------------
.fifty-fifty {
    .grid-x {
        @include media($tablet-portrait) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            @include media($tablet-portrait) {
                flex-direction: row;
                align-items: flex-start;
            } // $tablet-portrait
        } // $tablet-portrait

        .cell {
            @include media($tablet-portrait) {
                @include span-columns(6);

                align-items: center;
                justify-content: center;
                flex-direction: column;
            } // $tablet-portrait
        } // .cell
    } // .grid-x

    &.eighty-twenty {
        .grid-x {
            div:nth-child(1) {
                @include media($tablet-portrait) {
                    @include span-columns(3);
                } // $tablet-portrait
            } // div:nth-child(1)

            div:nth-child(2) {
                @include media($tablet-portrait) {
                    @include span-columns(9);
                } // $tablet-portrait
            } // div:nth-child(2)
        } // .grid-x
    } //eight-twenty
    
    &.thirty-sixty {
        .grid-x {
            div:nth-child(1) {
                @include media($tablet-portrait) {
                    @include span-columns(4);
                } // $tablet-portrait
            } // div:nth-child(1)

            div:nth-child(2) {
                @include media($tablet-portrait) {
                    @include span-columns(8);
                } // $tablet-portrait
            } // div:nth-child(2)
        } // .grid-x
    } //thirty-sixty

    &.sixty-thirty {
        .grid-x {
            div:nth-child(1) {
                @include media($tablet-portrait) {
                    @include span-columns(8);
                } // $tablet-portrait
            } // div:nth-child(1)

            div:nth-child(2) {
                @include media($tablet-portrait) {
                    @include span-columns(4);
                } // $tablet-portrait
            } // div:nth-child(2)
        } // .grid-x
    } //sixty-thirt

    .heading {
        text-transform: uppercase;
        padding: 0 20px;
    } // .heading 

    &.fifty-text-media {
        .grid-x {
            display: flex;
            flex-direction: column-reverse;

            @include media($tablet-portrait) {
                flex-direction: row;
            } // $tablet-portrait
        } // .grid-x
    } // &.fifty-text-media
} // .fifty-fifty
