.home{
	.site-content {
		margin-top: 0;
		.freeorder-banner{
			text-align: center;
			background: #F4F4F4;
			border-bottom: 1px solid #D0021B;
			padding: 10px;
			h3{
				color: #D0021B;
				margin: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				font-weight: 500;
				font-size: 18px;
				img.emoji{
					height: 1.4em !important;
					width:  2em !important;
				}
			}
		}
	}
}
