//--------------------------------------------------------------
// Global Content Block Styles
//--------------------------------------------------------------
.content-block {
	margin-bottom:0;
	margin-top: 0;

	// Content Block titles.
	&-title {
		text-align: center;

		@include media($tablet-portrait) {
			text-align: left;
		}
	} // .content-block-title
} // .content-block
