.warning-massage{
	.global-warning{
		border-radius: 10px;
		border: solid 1px $color-red;
		h3{
			background-color: $color-red;
			color: $color-white;
			text-align: center;
			border-top-left-radius: 10px;
            border-top-right-radius: 10px;
		}
		p{
		  padding: 20px;
		  color: $color-red;
		}
	}
}
