//--------------------------------------------------------------
// Hero Block
//--------------------------------------------------------------
.hero {
    margin-bottom: 0;
    overflow-y: hidden;
	position: relative;
	z-index: 1;
	h1{
		margin: 0;
		color: $color-white;
	}
    .hero-title {
		font-size: 24px;
		text-align: center;
    } // Transparent overlay.
    &::after {
        @include position(absolute, 0 0 null null);
        @include size(100%);
        background-color: rgba($color-black, 0.5);
        content: '';
        z-index: 2;
    } // &:after
    // Content container.
    &-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
        max-width: 90%;
        min-height: rem(220); // height of hero.
        position: relative;
        color: $color-white;
		z-index: 3;
		@include media($tablet-portrait){
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin:auto;
			max-width: 90%;
			min-height: 240px; // height of hero.
			position: relative;
			color: $color-white;
			z-index: 3;
		}
    } // .hero-content
    .entry-meta {
        @include media($tablet-portrait) {
			text-align: center;
            margin: 0;
        }
        h3,
        span,
        p,
        a {
            color: $color-gray-alt;
        }
        h3 {
			margin-bottom: 0;
            font-size: 14px;
        }
        a {
            text-decoration: none;
        }
        .posted-on {
            margin-bottom: 0;
        }
    } // Add padding to description.
    &-description {
        padding-bottom: $gutter * 2;
    } // .hero-description
} // .hero
//-----------------------------------------
// IE Fixes
//-----------------------------------------
.ie .hero {
    // IE seems to have some width issues with flexbox,
    // the text is rendered wider than its container
    // and doesn't wrap. This fixes that.
    .hero-title,
    .hero-description {
        width: 100%;
    } // .hero-title, .hero-description
    // IE11 doesn't do centering with just a min-height,
    // need to set a specific height instead.
    .hero-content {
        @include media($tablet-portrait) {
			height: rem(500); // height of hero.
			text-align: -webkit-center;
        }
    } // .hero-content
} // .ie .hero
