.how-to {
    .demostration {
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        text-align: center;
        @include media($tablet-portrait) {
            display: flex;
            justify-content: space-between;
        }
        .options {
            padding: 20px;
            img {
				max-height: 80px;
				width: auto;
                align-self: center;
			}
			h3{
				font-size: 18px;
				color: #9B9B9B;
				text-align: center;
				text-transform: uppercase;
			}
        }
    }
}
