//--------------------------------------------------------------
// Related Posts Block
//--------------------------------------------------------------
.related-posts {

	.cell {
		margin-bottom: $gutter * 2;

		@include media($tablet-portrait) {
			@include span-columns(6);
			@include omega(2n);
		}

		@include media($tablet-landscape) {
			@include omega-reset(2n);
			@include span-columns(4);
			@include omega(3n);
			transition: all .35s ease-in-out;
			box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
			&:hover {
				
				margin-top: -5px;
			}
		}
		.card-image {
			@include span-columns(3);
			@include media($tablet-landscape) {
				@include span-columns(12);
			}
		}
		.card-section {
			text-align: left;
			padding-left: 15px;
			padding-bottom: 20px;
			
			@include span-columns(9);
			@include media($tablet-landscape) {
				@include span-columns(12);
				padding-right: 15px;
				padding-top: 20px;
				
			}
			.category {
				color: $color-gray-alt;
				margin-bottom: 5px;
				font-size: 9px;
				line-height: 1;
				@include media($tablet-landscape) {
					font-size: 12px;
				}

			}
			.card-title {
				margin-bottom: 5px;
				font-size: 14px;
				line-height: 1;
				a {
					color: $link-color;
					text-decoration: none;
				}
				@include media($tablet-landscape) {
					font-size: 18px;
					margin-bottom: 10px;
				}
			}
			.card-text {
				font-size: 10px;
				color: $link-color;
				line-height: 1.2;
				@include media($tablet-landscape) {
					font-size: 12px;
				}

			}
		}
	} // .cell
} // .related-posts
