// --------------------------------------------------------------
// Slick Slider Block
// --------------------------------------------------------------

.slider-logo {
	display: block;
} // .slider-logo

// Styles individual carousel items
.carousel-item  {
	blockquote {
		margin-block-start: rem(16);
	} // blockquote

	p:first-child::before, p:last-child::after {
		color: $color-red;
		font-size: rem(26);
	} // p:first-child::before, p:last-child::after

	p:first-child::before {
		content: '\201C';
		margin-right: rem(12);
	} // p:first-child::before

	p:last-child::after {
		content: '\201D';
		margin-left: rem(12);
		position: relative;
		top: rem(6);
	} // p:first-child::before
} // .carousel-item

.slider-block, .slider-video-block {
    .grid-x:first-child {
        .cell:first-child {
			@include span-columns(8);
		}
		
		.cell:nth-child(2) {
			@include span-columns(2);
		}
    }
}

span.date { 
	font-weight: 100;
}

.slider-video-block {
	.carousel-item  {
		.content, blockquote {
			text-align: center;
		}
		
		p:first-child::before {
			content: '';
		} // p:first-child::before
	
		p:last-child::after {
			content: '';
		} // p:first-child::before
	} // .carousel-item	
} // .video