.slider-section {
	.wrap {
		padding: 20px 20px 0;

		@include media($tablet-landscape) {
			display: flex;
			align-items: center;
		}
	} // .wrap

	.slider {
        @include span-columns(12);
		text-align: center;

		@include media($tablet-landscape) {
			@include span-columns(6);
		}

		.soliloquy-outer-container {
			font-weight: 600;
			color: white;
			border: 1.5px solid #fbfbfb;
			transition: all .15s ease;
			font-size: 12px;
			margin-top: 20px;
			letter-spacing: 1.4px;

			.soliloquy-container .soliloquy-pager-link.active,
			.soliloquy-container .soliloquy-pager-link:hover {
				background: red;
				border-radius: 50%;
			}
		} // .soliloquy-outer-container
	} // .slider

	.intro-text {
        @include span-columns(12);
		text-align: center;

		@include media($tablet-landscape) {
			@include span-columns(6);
			padding-left: 20px;
			text-align: left;
		}

		.shipping {
			padding-bottom: 20px;
		} // .shipping

		a {
			color: $color-white;
		} // a
	} // .intro text
} // .slider-section
