.page-template {
	.faqs {
		.faqs-content {
			.faqs-container {
				margin: 12px;

				.faqs-header {
					text-align: center;
				}
			}

			.faqs-wraper {
				border-radius: 10px;
				margin: 15px 0;
				border: 1px solid #DDDDDD;
				background: #fff;

				.question {
					display: flex;
					font-size: 21px;
					padding: 5px 10px;

					svg {
						transition: transform .5s ease;
						transform: rotate(0deg);
						max-width: 18px;
						height: 40px;
						margin: auto 0;
					}

					&.active svg {
						transform: rotate(90deg);
						max-width: 20px;
					}

					.faqs-question {
						margin: auto 0 auto 5px;
						font-size: 14px;
						font-weight: 400;
					}
				}

				.answer {
					display: none;
					padding: 0 1rem;
					font-size: 18px;
					line-height: 26px;
					text-align: left;
					overflow: auto;

					ul {
						padding: 10px;
						margin-top: 0;
						overflow: auto;
						font-weight: 300;

						li {
							margin-left: 20px;
							line-height: inherit;
						}
					}

					a {
						color: $color-white;
					}
				}
			}
		}
	}
}

.home {
	.faqs {
		.faqs-content {
			.faqs-header {
				text-align: left;
			}

		}
	}
}

//this is the help me choose styles small styles the rest are the same with the text expanders
.faqs-content {
	.faqs-container {
		.motor-icons {
			img {
				width: 80px;

				@include media($tablet-portrait) {
					width: 120px;
				}
			}

		}
	}
}
