.three-text,
.three-video {
    .grid-x {
        padding: 15px 20px;
    }
    .video-header {
        text-align: left;
        padding: 58px 0 9px 30px;
    }
    .cells {
        @include span-columns(12);
        @include media($tablet-portrait) {
            @include span-columns(6);
            @include omega(2n);
            .video {
                position: relative;
                padding-bottom: 56.25%;
                overflow: hidden;
                max-width: 100%;
                height: auto;
                margin: 0 20px 5px;
            }
            .video iframe,
            .video object,
            .video embed {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        @include media($tablet-landscape) {
            @include span-columns(4);
            @include omega-reset(2n);
            @include omega(3n);
        }
        p {
            font-size: 14px;
            font-weight: 300;
        }
    }
} // .three col
.three-video {
    .cells {
        p {
			text-align: center;
			font-weight: 600;
        }
    }
}
