.archive.woocommerce-page {
	.site-content {
		.category-product-wrapper {
			@include span-columns(12);

			border: 1px solid $border-color {
				top: 10px solid $title-color-line;
			}

			margin-bottom: 20px;
			display: flex !important;

			@include media($tablet-portrait) {
				height: 294px;
				@include span-columns(6);
				@include omega(2n);
			}

			@include media($tablet-landscape) {
				@include span-columns(4);
				@include omega-reset(2n);
				@include omega(3n);
			}

			.product-image {
				display: flex !important;
				align-items: center;
				padding-right: 11px;
				padding-left: 11px;
				@include span-columns(5);
				align-self: stretch;
			} // .product-image

			.product-content {
				padding: 20px 10px;
				@include span-columns(7);

				display: flex;
				flex-direction: column;
				justify-content: space-around;

				h2 {
					margin-bottom: 12px;

					font: {
						weight: 300;
						size: rem(16);
					}

					a {
						color: $title-color-line;

						text: {
							decoration: none;
							transform: uppercase; 
						} 
					} // a
				} // h2

				p {
					font: {
						weight: 300;
						size: 12px;
					}

					color: $color-tundora;
					line-height: 20px;
				} // p
			} // .product-content
		} // .category-product-wrapper 
	} // .site-content
} // .archive.woocommerce-page