.archive {
    .site-content {
        max-width: 70rem;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;

        .woocommerce-products-header__title, .term-description {
            text-align: center;
        } // .woocommerce-products-header__title

        p {
            font-size: 14px;
        } // p

        .products {
			display: flex;
            flex-wrap: wrap;
            
            &[class*=columns-] li.product,
            &[class*=columns-] li.product {
				display: flex !important;
                @include span-columns(12);

                @include media($tablet-portrait) {
                    @include span-columns(6);
                    @include omega(2n);
                }

                @include media($tablet-landscape) {
                    @include span-columns(4);
                    @include omega-reset(2n);
                    @include omega(3n);
                }
            } // &[class*=columns-] li.product, &[class*=columns-] li.product
            
            .product-wrapper {
                @include span-columns(12);
                border-top: 10px solid $title-color-line;
                border-right: 1px solid $border-color;
				border-left: 1px solid $border-color;
                border-bottom: 1px solid $border-color;
                
                .product-image {
                    padding-left: 11px;
                    display: flex !important;
                    align-items: center;
                    @include span-columns(5);
                    height: 100%;
                } // .product-image

                .product-content {
                    @include span-columns(7);
                    padding: 10px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    h2 {
						font-size: 18px;
                        
                        a {
							color: $link-color;
							text-transform: uppercase;
                        } // a
                    } // h2

                    .price {
                        color: $title-color-line;
                        font-size: 14px;
						font-weight: 700;
                        text-align: left;

                        span.freeshippingtxt {
                            color: #4a4a4a;
                            font-size: 14px;
                        } // span.freeshippingtxt
                    } // .price

                    p {
						color: $link-color;
						line-height: 20px;
                    } // p

                    a.add_to_cart_button {
                        font-size: 14px;
						color: $color-white;
                        width: 100%;
                        padding: 8px 50px;
                        margin-top: auto;
                        box-shadow: none;
                    } // a
                } //product-content
            } // .products
        } // .site-content
    } //site-content
} //archive

.woocommerce ul.products.columns-3 li.product,
.woocommerce-page ul.products.columns-3 li.product {
    @include span-columns(12);

    @include media($tablet-portrait) {
        @include span-columns(4);
        @include omega(3n);
    }
}

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
    margin: 0 0 .992em 0 !important;

    @include media($tablet-portrait) {
        margin: 0 0 .992em 0 !important;
    }

    @include media($tablet-landscape) {
        margin: 0 6px .992em 0 !important;
    }
}
