.single {
	.site-content {
		max-width: 100%;
		margin: 0;

		.primary {
			margin: 0;
			padding: 0;

			.hero-content {
                @include outer-container();
                padding: 20px;
			} // .hero-content

			.wrap-single {
				@include media($tablet-portrait) {
					padding: 0 70px;
					margin: 0 auto;
					background: $color-white;
					max-width: 1100px;
					margin-bottom: 60px;
				} // .wrap-single 

				article {
					padding: 25px;

					.entry-content {

						h1, h2 {
							color: $link-color;

							&:after {
								display: block;
								content: '';
								height: 4px;
								width: 40px;
								background-color: $title-color-line;
							} // &:after
                        } // h1, h2
                        
						p {
							color: $color-gray-alt;
						} // p
					} // .entry-content 
				} // article
			} // .wrap-single 

			.hero-content {
				align-items: flex-start;

				@include media($tablet-portrait) {
					align-items: center;
				}
			} // .hero-content 
		} // .primary
	} // .site-content

	.comments-area {
		padding: 20px;
	} // .comments-area
} // .single
