.woocommerce {
    color: $link-color;
    .site-content {
        .content-area {
        }
        .product {
            @include outer-container();
        }
        #main div.product div.images,
        .entry-summary {
            @include span-columns(12);
            @include media($tablet-portrait) {
                @include span-columns(6);
            }
        }
        .entry-summary {
            @include media($tablet-portrait) {
                @include omega();
            }
            .woocommerce-product-details__short-description {
                ul {
                    margin-left: 5px;
                }
            }
            form.cart div.quantity {
                margin: 0 49px 0 0 ! important;
            }
            .entry-title {
                font-size: 20px;
            }
            .price {
                color: $title-color-line;
                font-size: 18px;
                font-weight: 900;
				margin: 20px;
				span.freeshippingtxt {
					color: #4a4a4a;
					font-size: 14px;
				}
            }
        } //entry-summary
        .expander-container {
            @include span-columns(12);
            @include media($tablet-portrait) {
                @include span-columns(6);
            }
        }
        .video-container {
            @include span-columns(12);
            margin-top: 20px;
            @include media($tablet-portrait) {
                @include span-columns(6);
                @include omega();
                margin-top: 5px;
            }
        } //video-container
    }
    .up-sells {
        @include span-columns(12);
        h2:first-child {
            margin-top: 30px! important;
            &:after {
                display: block;
                content: '';
                height: 5px;
                width: 60px;
                background-color: $title-color-line;
            }
        }
    } //upsell
}

.expander {
    border-top: 1px solid $expander-color;
    &:last-child {
        border-bottom: 1px solid $expander-color;
    }
    .section-title {
        padding: 10px 0;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        &.row-1+.section-content {
            display: block;
        }
        h2 {
            margin: 0;
            text-transform: uppercase;
        }
    }
    .section-content {
        display: none;
		padding-bottom: 20px;
		a{
			text-decoration: none;
		}
		li{
			padding-bottom: 15px;
		}
    }
}

.plusminus {
    position: relative;
    width: 24px;
    height: 24px;
    &:before,
    &:after {
        content: "";
        position: absolute;
        background-color: $color-youtube;
        transition: transform 0.25s ease-out;
    }
    /* Vertical line */
    &:before {
        top: 0;
        left: 50%;
        width: 4px;
        height: 100%;
        margin-left: -2px;
    }
    /* horizontal line */
    &:after {
        top: 50%;
        left: 0;
        width: 100%;
        height: 4px;
        margin-top: -2px;
    }
}

.section-title.open .plusminus {
    cursor: pointer;
    &:before {
        transform: rotate(90deg);
    }
    &:after {
        transform: rotate(180deg);
    }
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
	height: auto;
	margin-bottom: 20px;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*related product*/

.woocommerce .up-sells ul.products[class*=columns-] li.product,
.woocommerce-page .up-sells ul.products[class*=columns-] li.product {
	@include span-columns(12);
	margin-bottom: 0;
    @include media($tablet-portrait) {
        @include span-columns(4);
    }
    a img {
        @include span-columns(5);
		border: 1px solid $thumbnal-color;
		margin-right: 16px;
		padding: 0 20px;
        @include media($tablet-portrait) {
            @include span-columns(12);
        }
    }
    .woocommerce-loop-product__title {
        @include span-columns(6);
        color: $link-color;
        font-size: 12px;
        font-weight: 700 !important;

        @include media($tablet-portrait) {
            @include span-columns(12);
            font-size: 16px;
			color: $link-color;
			padding: 0 20px;
			margin-top:0;
        }
    }
    .price {
        @include span-columns(6);
        color: $title-color-line;
		font-size: 12px;
        @include media($tablet-portrait) {
            @include span-columns(12);
            font-size: 18px;
            color: $title-color-line;
			font-weight: 900;
			padding: 0 20px;
        }
    }
}

// Hide Number Incrementor on Chrome
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}
.woocommerce div.product form.cart .variations select {
    margin-right: 1em;
    background:$color-white;
    color: $link-color;
    border: 1px solid $title-color-line;
    font-size: 16px;
    padding-left: 20px !important;
    font-weight: 300;
	padding: 9px 20px !important;
	outline: $title-color-line;
	min-width: 0;
}
.woocommerce #respond input#submit.alt.disabled, 
.woocommerce #respond input#submit.alt.disabled:hover, 
.woocommerce #respond input#submit.alt:disabled, 
.woocommerce #respond input#submit.alt:disabled:hover, 
.woocommerce #respond input#submit.alt:disabled[disabled], 
.woocommerce #respond input#submit.alt:disabled[disabled]:hover, 
.woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, 
.woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, 
.woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, 
.woocommerce button.button.alt.disabled, 
.woocommerce button.button.alt.disabled:hover, 
.woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover,
.woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover,
.woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, 
.woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, 
.woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover{
	background-color: #d0021b!important;
}
.woocommerce-message{
 border-top-color: #d0021b;
}
.woocommerce-message::before {
    color: #d0021b;
}
