footer {
	.amount {
		color: $footer-text-color !important;
	}
}
.woocommerce-order-received{
	.woocommerce{
			.woocommerce-thankyou-order-received{
				text-align: center;
			}
		.woocommerce-order-details{
			padding: 20px;
			@include media($tablet-portrait){
				padding: 0;
			}
			.items-details{
				     @include outer-container();
					.product,.paid-totals{
						@include span-columns(12);
						@include media($tablet-portrait){
							@include span-columns(6); 
						}
					}
					.product{
						.woocommerce-ordered-item{
							display: flex;
							align-items: center;
							background-color: $color-white;
							box-shadow: 0 0 7px 0 rgba(0,0,0,0.18);
							max-height: 80px;
							width: auto;
							margin-bottom: 22px;

							.item-img{
								width: 70px;
								height: auto;
							}
							.contents{
								.item-name{
									a{
										text-decoration: none;
										color: $color-red;
										font-size: 12px;
									}
								}
								.item-cost{
									.amount{
										color: $color-red;
										font-size: 14px;
										font-weight: 700;
									}
								}
								.item-quantity{
									font-size: 14px; 
								}
							}
						}
					}
					.paid-totals{
						table{
							border:0;
							tfoot{
								tr{
									border-color:none;
									th{
										text-align: start;
									}
									td{
										border: 0;
										.amount{
										font-size: 14px;
										font-weight: 700;
										}
									}
								}
							}
						}
					}
			}
		}
	}
}
