//--------------------------------------------------------------
// Global Link Styles
//--------------------------------------------------------------

a, button {
	color: $color-link;
	transition: $transition-opacity;
	transition: all .35s ease-in-out;

	&:visited {
		color: $color-link-visited;
	} // &:visited

	&:hover,
	&:focus,
	&:active {
		color: $color-link-hover;
		outline: none;
	} // &:hover, &:focus, &:active
} // a
