//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

body,
button,
input,
select,
textarea {
	color: $color-text-main;
	font-family: $font-sans;
	line-height: 1.15;
} // body, button, input, select, textarea
#page{
background-color: $color-white;
}

//--------------------------------------------------------------
// Headers
//--------------------------------------------------------------

// Global Header Resets.
@for $i from 1 through 6 {
	h#{$i} {
		margin-top: 0;
		text-transform: uppercase;
	} // h#{$i}

	.fifty-fifty, .generic-content, .envira-gallery, .slider-block, .slider-video-block{
		h#{$i} {
			margin-block-end: 0;
			margin-bottom: 0;
		}
	}
} // end @for

h1,
.h1 {
	color: $link-color;
} // h1, .h1

h2,
.h2 {
	color: $link-color;
} // h2, .h2

h3,
.h3 {
	//color: $link-color;
} // h3, .h3

h4,
.h4 {
	//color: $link-color;
} // h4, .h4

h5,
.h5 {
	//color: $link-color;
}  // h5, .h5

h6,
.h6 {
	//color: $link-color;
} // h6, .h6

hr.heading-underline {
	background: $color-red;
	height: 4px;
	width: 40px;
	position: relative;
	display: inline-block;
	margin: 0;
}

.subheading {
	color: $color-gray-alt;
	font-size: rem(20);
	letter-spacing: 3px;
}

//--------------------------------------------------------------
// Copy
//--------------------------------------------------------------

p {
	margin: rem(12) 0 rem(24) 0;
	font-weight: 300;
	font-size: 18px;
	line-height: rem(24);
} // p

.content-block p:last-child {
	margin: rem(12) 0 0 0;
}

b,
strong {
	font-weight: 700;
} // b, strong

dfn,
cite,
em,
i {
	font-style: italic;
} // dfn, cite, em, i

blockquote,
q {
	margin: 0 rem(24);
	quotes: '" "';

	&::before,
	&::after {
		content: '';
	}  // &::before, &::after
} // blockquote, q

ul, ol {
	li {
		font-weight: 300;
		line-height: rem(24);
	}
}

address {
	margin: 0 0 rem(24) 0;
} // address

pre {
	background-color: $color-gallery;
	color: $color-cod-gray;
	font-family: $font-pre;
	font-size: rem(13);
	line-height: $line-height-pre;
	margin: 0 0 rem(24) rem(-24);
	overflow: auto;
	padding: rem(24);
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
} // pre

code,
kbd,
tt,
var {
	font-family: $font-code;
	font-size: rem(15);
} // code, kbd, tt, var

abbr,
acronym {
	border-bottom: 1px dotted $color-border-abbr;
	cursor: help;
} // abbr, acronym

mark,
ins {
	text-decoration: none;
} // mark, ins

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
} // sup, sub

sup {
	bottom: 1ex;
} // sup

sub {
	top: 0.5ex;
} // sub

small {
	font-size: 75%;
} // small

big {
	font-size: 125%;
} // big

// Word Wrapping
.entry-title,
.entry-content,
.comments-title,
.comment-content,
.widget-title,
.widget {
	@include word-break;
} // .entry-title, .entry-content, .comments-title, .comment-content, .widget-title, .widget

.page, .archive {
	.entry-title {
		text-align: center;
		text-transform: uppercase;
		font-size: 1.25rem;
		margin: 2rem 0;
	
		@include media($tablet-portrait) {
			font-size: 2rem;
		}
	}
} 