//--------------------------------------------------------------
// Widgets
//--------------------------------------------------------------

.widget {
	margin: 0 0 rem(24);
	
	a {
		color: $color-white;
		text-decoration: none;
	} // a

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	} // select

	// Extend the h3 style for the widget titles.
	.widget-title {
		color: $color-white;
		font-size: 17px;
	} // .widget-title

	ul {
		padding-left: 0;

		li {
			padding: 9px;
			list-style: none;

			a {
				&:hover {
					text-decoration: underline;
				} // &:hover

				.product-title {
					font-size: 13px!important;
				} // .product-title
			} // a
		} // li 
	} // ul
} // .widget

// Search widget.
.widget_search .search-submit {
	display: none;
} // .widget_search .search-submit

.footer-widget-area {
	padding-top: 40px;

	a {
		color: $footer-text-color;
	} // a

	.wrap {
		max-width: 80rem;
	} // .wrap

	.footer-widget {
		@include span-columns(12);
		text-align: center;

		@include media($tablet-landscape) {
			text-align: start;	
			@include span-columns(4);
		}

		.textwidget {
			color: $footer-text-color;

			p {
				margin: 6px;
			} // p
		 } // .textwodget

		.gform_wrapper {
			background: #000;
			border: 0 solid #000;

			.gform_footer {
				margin-top: 0;
			} // .gform_footer
		} // .gform_wrapper

		.gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium {
			width: 100%;
		} // .gform_wrapper .top_label input.medium, .gform_wrapper .top_label select.medium

		input[type=submit],.input.button {
			width: 100%!important;
			background-color: #4a4a4a;
			border-radius: 0;
			outline: none;
			color: #fff;
		} // input[type=submit],.input.button

		.gform_wrapper ul.gform_fields li.gfield {
			padding: 0;
		} // .gform_wrapper ul.gform_fields li.gfield

		.gform_wrapper input[type=text], .gform_wrapper textarea {
			border-radius: 0; 
			background: #1e1e1e; 
			outline: none;
			color: $color-white;
		} // .gform_wrapper input[type=text], .gform_wrapper textarea

		.gform_wrapper .top_label .gfield_label {
			display:none;
		} // .gform_wrapper .top_label .gfield_label

		 .gform_confirmation_message {
			 color: $color-white;
		 } // .gform_confirmation_message
	}	
}


.woocommerce ul.product_list_widget li img{
	float: left!important;
	margin-right: 10px;
}
span.woocommerce-Price-amount.amount{
color: $color-red;
}
